*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* title */
#c1{
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: rgb(0, 183, 255);
    justify-content: center;
    align-items: center;
    
}
.s1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 183, 255);
    width: 250px;
    
    
    
    
}
#s2 a{
    text-decoration: none;
}
#s2{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 183, 255);
    width: 750px;
    
    
    
    
}
.s1 input{
    height: 30px;
    width: 60px;
    background-color: white;
    border: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
/* principale1 */
#c2{
    display: flex;
    height: 500px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
#s3{
    
    width: 900px;
    font-size: 25px;
    text-align: center;
    color: white;
}
#s3 > h1{
       
        
        padding-bottom: 3%;
}
#button1{
    background-color: rgb(140, 158, 241);
    color: white;
    font-size: 15px;
    height: 35px;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
}
#button2{
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 15px;
    height: 35px;
    width: 220px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
}


/* principale2 */
.c3{
    display: flex;
    height: 500px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.s4{
    width: 700px;
}
.s4 > 

.s5{
    width: 400px;
}
.s5 h1{
    font-size: 55px;
    color: black;
    text-align: left;
    padding-top: 12px;
}
.s5{
    width: 400px;
    font-size: 20px;
}
#paragraph2{
    padding-bottom: 200px;
}
#p3{
    padding-bottom: 30px;
}

#c4{
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    background-color: rgb(202, 200, 200);
    justify-content: center;
    align-items: center;
}
#c5{
    display: flex;
    height: 900px;
    background-color: rgb(202, 200, 200);
    justify-content: center;
    align-items: center;
}
#s6{
    width: 1100px;
    text-align: center;
}
#s6 > p{
    font-size: 20px;
    line-height: 90px;
}
#s6 > h1{
    font-size: 55px;
    color: black;
}
#rilievo{
    font: 40px;
}
#s6 input{
    background-color: rgb(140, 158, 241);
    color: white;
    font-size: 15px;
    height: 35px;
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
}

/* ending */
#c6{
    display: flex;
    flex-direction: row;
    height: 500px;
    background-color: rgb(69, 69, 69);
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
h3{
    font-size: 40px;
}
#s7 h3{
    color: rgb(140, 158, 241);
}
#s7{
    
    width: 300px;

    
    
}
#special{
    display: flex;
    align-items: center;
    line-height:40px ;
}
#special span{
    align-items: center;
}
#special2{
    height: 20px;
    width: 30px;
}
#special2  img{
        height: 100%;
        width: 100%;
}
.s8{
    display: flex;
    width: 200px;
    flex-direction: column;
    line-height: 40px;
    justify-content: center;
    align-items: flex-start;
}
.s8 a{
    color: white;
    text-decoration: none;
}
.sc{
    color: rgb(140, 158, 241);
}
#c7{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
    padding-top: 25px;
    
}
#c8{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: rgb(69, 69, 69);
    justify-content: center;
    align-items: flex-end;
    
}

#s9{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1100px;
    background-color:rgb(69, 69, 69);
    border-top: solid rgb(140, 158, 241) 2px;
    
    
}
.s10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
    
    
    font-size: 25px;
}
.s10 > input{
    background-color: rgb(140, 158, 241);
    color: white;
    font-size: 15px;
    height: 35px;
    width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 0;
}


    
